body {
    background-size:cover;
    background-position:center;
    min-height:100vh; 
    color:white;
    background-image: url('../images/hero-background@2x.png');
    font-family:"Inter", sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h4, h5{
    font-weight:bold;      
}
h1 {
    font-size:47px;
    letter-spacing:.01em;
}
h4 {
    font-size:20px;
}
h5 {
    font-size:18px;
}
p {
    font-weight:normal;
    font-size:12px;
}
.backgroundImage {
    width:100%;
    /* height: -webkit-fill-available; */
    background-size:cover;
    height:100vh;
    position:absolute;
    overflow-y:hidden;
    padding:0px;
    background: radial-gradient(transparent, rgba(0,0,0,.9) 90%);
}
.Container {
    width: 1700px;
}

.heroCardWrapper {
    background-color:white;
    /* color:black; */
    text-align:left;
    /* display:inline */
    /* padding:20px; */
    /* width:370px; */
    height:240px;
    border-radius:4px;
}
.heroCard {
    padding:40px;
    padding-top:90px;
}
.heroCardImage {
    right:-40px;
    overflow:hidden;
    width:220px;
    top:-85px;
    /* left:18px; */
    position:absolute;
}
.heroCard h4 {
}
.heroCard p, h4, a{
    padding-top:10px;
    color:black;
}
.heroCard a {
    padding-top:20px;

    color: #F65928;
    text-decoration: none;
    font-weight: bold;
}

.heroCardRow {
    margin-top:100px;
}

.btn {
    font-weight: medium;
    font-size: 12px;
    padding:8px 18px 8px 18px;
}
.btn-primary {
    background-color: 0084fe;
    margin-right:20px;

}
.btn-secondary {

}

.navigation .logo {
    padding:20px;
}
.navigation ul {
    list-style-type:none;
    float:right;
    text-decoration:none;
    display:flex;
    flex-direction:initial;
    margin-top:30px;
    display:horizontal;
    text-align:center;
}
.navigation .navigationLinks {  
    margin-top:5px;
}

.navigation li {
    display: inline;
    padding-left:30px;
}

@media (max-width: 992px) {
    .backgroundImage {
        height:200%;
    }
    .heroCardWrapper {
        margin-top:100px;
        flex-direction:column-reverse;
    }
    .heroCardImage {
        top:80px;
        right:0;
    }
 }


@font-face {
    font-family: 'Inter';
    src: url("../assets/Inter-Regular.ttf") format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'Inter';
    src: url("../assets/Inter-Medium.ttf") format('truetype');
    font-weight:medium;
}
@font-face {
    font-family: 'Inter';
    src: url("../assets/Inter-Bold.ttf") format('truetype');
    font-weight:bold;
}